<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>HOUSE DETAIL</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h2>House Detail</h2>
	<h3>House Name: {{ house.house_name }}<h3>
	<h3>Address: {{ house.address }}<h3>
	<h3>Zip: {{ house.zip_code }}<h3>
	<h3>Cost: ${{ house.cost }}<h3>
	<h3>Owner: {{ owner.first_name }} {{ owner.last_name }}<h3>
	<h3>E-mail: {{ owner.email }}<h3>
	<h3>Description: {{ house.description }}<h3>

	<form action="" method="POST">
  	<script
		src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		data-key="{{ publick_key }}"
		data-amount="{{ cost }}"
		data-name="{{ owner.first_name }} {{ owner.last_name }}"
		data-description="{{ house.house_name }}"
		data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
		data-locale="auto"
      		data-email="{{ owner.email }}">
	</script>
	{% csrf_token %}
	</form>
	
	<p>{{ message }}</p>
</body>
</html>

