.App {
  text-align: center;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.login-border {
  border-style: ridge;
  border-radius: 5px;
  padding: 15px;
}